
<h2>Welcome Page</h2>

<section class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h1>RoR Auth0 Sample</h1>
  <p>Step 1 - Login.</p>
  <a class="btn btn-success btn-lg" href="https://sengaa-app.eu.auth0.com/login?client=npyBD_mrOT4XgQzyK_RHayEAxyHlAVax">Login</a>
</section>